body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 32px;
    height: 30px;
}
h1{
    font-size: 40px;
}
ul{
    display: flex;
    gap: 65px;
}
li{
    list-style: none;
    font-size: 22px; 
    font-weight: 500;
}
.signup-btn{
    width: 134px;
    height: 62px;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 500;
}
.primary-decor{
    background: #000;
    color:white ;
    border: none;
}
/* Bannar related style */
.bannar{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    background: #F4F6F5;
    margin: 56px 100px 63px ;
    padding-left: 119px;
}
.yellow-bg{
    background-image: url('images/yellow-bg.png');
    background-size: cover;
}
.white-bg{
    background-image: url('images/white-bg.png');
    background-size: cover;
}
.bannar p{
    font-size: 32px;
}
.bannar h1{
    font-size: 96px;
}
.bannar button{
    border-radius: 10px;
    margin-left: 34px;
    margin-bottom: 90px;
    font-size: 30px;
    width: 220px;
    height: 82px;
}
/* Brands related style */
.brands{
    display: flex;
    justify-content: space-around;
    background: #EBD96B;
    padding: 60px 170px 55px;
 }
 /* New arrivals related style */
 .new-arrivals{
    display: flex;
    justify-content: space-between;
    margin: 115px 178px 190px 104px;
 }
 .common-header h2{
    font-size: 32px;
    font-weight:500;
 }
.common-header h4{
    font-size: 24px;
    font-weight: 500;
    color: #7F7F7F;
 }
 .hoodies img{
    width: 484px;
    height: 704px;
 }
 .coats img{
    width: 484px;
    height: 704px;
 }
 .t-shirt img{
    width: 490px;
    height: 704px;
 }
 .new-arrival-des{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 /* Offer sec related style */
 .offer-sec{
    display: flex;
    background: linear-gradient(360deg, #E0C340 0%, #DFC23E 3.93%, #E1C441 7.23%, #E3C743 10.23%, #E4C542 13.14%, #E6C744 16.22%, #E7C845 19.84%, #E5C643 24.38%, #E6C945 31.00%, #E3C743 37.19%, #E9CA48 43.33%, #EDCE49 50.36%, #F0D44C 56.57%, #F4D84F 62.71%, #F6DA52 67.12%, #F7DB53 73.77%, #F9DD55 79.08%, #F9DF56 85.64%, #FAE157 93.50%, #F9DF56 100%);
    justify-content: space-between;
    align-items: center;
 }
 .offer-info{
    width: 933px;
    height: 968px;
 }
 .offer-sec img{
    width: 992px;
    height: 968px;
 }
 .offer-info h1{
    font-size: 111px;
 }
 .offer-info p{
    font-size: 36px;
 }
 .offer-sec button{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 155px;
    width: 265px;
    height: 95px;
    border-radius: 8px;
 }
/* Favourite sec related style */
 .favourite-sec{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
 }
 .favourite-sec img{
    width: 800px;
    height: 575px;
 }
 .favo-des{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 /* App download related style */
 .app-dounload-sec{
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
 }
 .common-header h1{
    font-size: 48px;
    margin-bottom: 48px;
 }
 .img-logo{
    display: flex;
    margin-top: 65px;
    gap: 20px;
 }
 .img-logo img{
    width: 204px;
    height: 71px;
 }
 /* Contuct sec related style */
 .contuct-sec{
    text-align: center;
    color: white;
    background: #E5C643;
    padding-bottom: 150px;
 }
 .contuct-sec h1{
    font-size: 55px;
    padding-top: 140px;
 }
 .contuct-sec p{
    font-size: 32px;
    font-weight: 400;
 }
 .mail-area{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 574px;
    height: 87px;
    background-color: white;
    border-radius: 10px;
    margin: 0px auto;
 }
 .mail-area p{
    width: 269px;
    height: 25px;
    font-size: 24px;
    color: #7C7C7C;
    margin: 27px 27px 35px;
 }
 .mail-area input{
    padding: 27px;
    color: #767676;
    font-size: 24px;
    font-weight: 400;
    border: none;
 }
 .mail-area button{
    border-radius: 8px;
    font-size: 24px;
    font-weight: 400;
    margin: 10px;
    width: 161px;
    height: 67px;
    border: none;
    background: #000;
 }
